*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gris : #909090;
    --azul : #7EDAD2;
    --negro_oscuro : #424241;
}
html{
    font-size: 50%;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    
    background-image: url('../assets/imgs/hero.png');
    background-repeat: no-repeat;
    background-position: top right;
    
    padding-left: 160px;
    padding-right: 160px;
    margin: 0 auto;
    max-width: 1920px;
}
header{
    padding-top: 33px;
    padding-bottom: 33px;
    
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header img{
    margin-bottom: 6rem;
}
header nav{
    width: 47%;
}

header nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    width: 100%;
}

header nav ul li a{
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.smart_people{
    margin-bottom: 58px;
}

.smart_people h1{
    width: 680px;
    color: var(--negro_oscuro);
    font-size: 100px;
    font-weight: 400;
    line-height: 110px;
    font-family: 'Bebas Neue', sans-serif;
}

.smart_people h1 span{
    color: var(--azul);
}

.smart_people p{
    
    max-width: 600px;
    margin-top: 10px;
    color: var(--gris);
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.smart_people a{
    width: 18rem;
    padding: 2rem 2.5rem;
    display: inline-block;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    background-color: var(--azul);
    color: white;
}

.achievements{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    max-width: 600px;
}

.achievements div{
    display: block;
    text-align: center;
}

.achievements div p:first-child{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: var(--negro_oscuro);
}

.achievements div p:not(:first-child){
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: var(--gris);
}

.services{
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
}

.services article{
    background-color: white;
    width: 376px;
    height: auto;
    padding: 32px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}

.services article .title{
    font-family: 'Poppins', sans-serif;
    color: var(--negro_oscuro);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.services article .description{
    font-family: 'Poppins', sans-serif;
    color: var(--gris);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.business-plan span{
    width: 64px;
    height: 64px;
    background-image: url('../assets/icons/checklist.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.financial-planning span{
    width: 64px;
    height: 64px;
    background-image: url('../assets/icons/money_bag.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.digital-marketing span{
    width: 64px;
    height: 64px;
    background-image: url('../assets/icons/announcement.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.market-analysis span{
    width: 64px;
    height: 64px;
    background-image: url('../assets/icons/business_presentation.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}