$font_poppins : 'Poppins', sans-serif;
$font_montserrat : 'Montserrat', sans-serif;
$naranja : #F38160;
$black: #403C39;
$gris: #949494;
$blanco : #FAFAFA;

@mixin text-style{
    font-size: 1.5rem;
    color: $gris;
    font-weight: 400;
    text-decoration: none;
}

@mixin button{
    padding: 13px 36px;
    background-color: $naranja;
    @include text-style();
    border-radius: 16px;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_poppins;
}

html{
    font-size: 62.5%;
}

.page{
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    margin: 0 auto;
    max-width: 1440px;
}

header{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav{
            width: 55%;
        }
        ul{
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: space-between;
            
            a{
                @include text-style();
                &.active{
                    color: $naranja;
                    position: relative;
                    &::after{
                        content: '';
                        width: 80%;
                        height: 2px;
                        position: absolute;
                        left: 10%;
                        bottom: -10px;
                        background-color: $naranja;
                    }
                }
            }

        }

        .sign__container{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .shop{
                background-image: url('../assets/icons/shop.svg');
                width: 25px;
                height: 25px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                &::after{
                    content: '';
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    top: -4px;
                    right: -4px;
                    background-color: $naranja;
                    position: absolute;
                }
            }
            .sign-in{
                @include text-style();
                color: $naranja;
                text-decoration: underline;
            }

            .sign-up{
                @include button();
            }
        }
    }
}

main{
    width: 100%;
}

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    .hero__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
        h1{
            min-width: 600px;
            font-family: $font_montserrat;
            font-weight: 700;
            font-size: 6rem;
            line-height: 70px;
            color: $black;
            margin-bottom: 1.6rem;
            span{
                color: $naranja;
            }
        }
        .description{
            @include text-style();
            width: 84%;
            min-width: 420px;
            font-size: 1.8rem;
            margin-bottom: 30px;
        }
        form{
            display: flex;
            align-items: center;
            width: 80%;
            margin-bottom: 4rem;
            input{
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                height: 40px;
                width: 75%;
                border: none;
                background-color: #D0D0D240;
                padding-left: 3.2rem;
            }
            input::placeholder{
                @include text-style();
            }
            span{
                width: 6rem;
                height: 40px;
                background-color: $naranja;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                display: inline-block;
                background-image: url('../assets/icons/buscar.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }


        .hero__info__items{
            width: 75%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: start;
            justify-content: start;
            column-gap: 2rem;
            row-gap: 1.6rem;
            div{
                display: flex;
                align-items: center;
                gap: 1rem;
                span{
                width: 22px;
                height: 22px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('../assets/icons/check.svg');
                }  
            }
            p{
                @include text-style()
            }
        }
    }
    

    .hero__image{
        width: 45%;
        display: inline-block;
        background-image: url('../assets/imgs/rectangle-2.svg'), url('../assets/imgs/rectangle-1.svg');
        background-position: center left;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-start;
    }
}

.products-container{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    padding: 25px;
    article{
        width: 19%;
        height: 100%;
        span{
            display: inline-block;
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-bottom: 18px;
        }
        h4{
            color: $black;
            font-weight: 500;
            font-size: 1.9rem;
            margin-bottom: 8px;
        }
        p{
            @include text-style();
            font-size: 1.4rem;
        }
    }

    .dairy{
        background-image: url('../assets/imgs/dairy.png');
    }

    .fruit{
        background-image: url('../assets/imgs/fruits.png');
    }

    .spices{
        background-image: url('../assets/imgs/condiments.png');
    }
    .honey{
        background-image: url('../assets/imgs/baby-food.png');
    }

    .flour{
        background-image: url('../assets/imgs/pasta.png');
    }
}
