
.page{
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
    padding-right: 130px;
    background-color: #FAFAFA;
    position: relative;
    z-index: 1;
    .mujer{
        position: absolute;
        z-index: -10;
        width: 55%;
        height: 88%;
        object-fit: cover;
        top: 0;
        right: 0;
    }
}