
.page{
    max-width: 1440px;
    margin: 0 auto;
    background-color: $purple;
    //padding: 0 130px;
    position: relative;
    z-index: 2;
    .group{
        position: absolute;
        z-index: -10;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        object-fit: cover;
    }
}