header{
    padding: 33px 130px;
    display: flex;
    align-items: center;
    margin-bottom: 47px;
    .logo{
        margin-right: 10%;
    }
    nav{
        width: 34%;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            a{
                color: $white;
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 400;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
    .contact{
        margin-left: auto;
        display: inline-block;
        padding: 16px 26px;
        background-color: $purple;
        color: $white;
        font-size: 1.7rem;
        text-decoration: none;
    }
    .contact:hover{
        transform: scale(1.1);
        transition: all 0.4s linear;
    }
}