main{
    width: 100%;
    
    .hero{
        text-align: start;
        width: 58%;
        margin-bottom: 70px;
        padding: 0 130px;
        p{
            font-size: 2rem;
            font-weight: 400;
            color: $white;
            line-height: 37px;
        }
        .saludo{
            margin-bottom: 16px;
        }
        h1{
            font-size: 5.1rem;
            font-weight: 700;
            line-height: 72px;
            color: $white;
            width: 97%;
            min-width: 600px;
            margin-bottom: 28px;
        }
        p:not(.saludo){
            width: 100%;
            margin-bottom: 45px;
        }
        .collaborate{
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 16px;
            background-color: $white;
            color: $black;
            font-size: 2rem;
            font-weight: 400;
            text-decoration: none;
            span{
                margin-left: 8px;
                width: 40px;
                height: 40px;
                display: inline-block;
                background-image: url('../../assets/icons/arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .collaborate:hover{
            transform: scale(1.1);
            transition: all 0.4s linear;
        }
    }
}

.products{
    width: 74%;
    background-color: $white;
    padding: 35px 0;
    padding-left: 130px;
    padding-right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    article{
        width: 29%;
        height: 100%;
        text-align: start;
        span{
            width: 55px;
            height: 55px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 10px;
        }
        h4{
            color: $black;
            font-size: 1.8rem;
            font-weight: 700;
        }
        p{
            width: 100%;
            font-size: 1.5rem;
            color: $gray;
            font-weight: 400;
        }
    }
    .web{
        background-image: url('../../assets/icons/web_design.svg');
    }
    .media{
        background-image: url('../../assets/icons/social_media.svg');
    }
    .artwork{
        background-image: url('../../assets/icons/design.svg');
    }
}