*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

body{
    padding-top: 3.3rem;
    padding-right: 16rem;
    padding-left: 16rem;
    margin: 0 auto;
    max-width: 1920px;
}


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

header nav{
    width: 50rem;
}

header nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5.6rem;
}
header nav ul li{
    width: 100%;
}


header nav ul li a{
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #313131;
} 

header nav ul li:first-child a{
    color: #9B9A78;
}


header nav ul li:last-child a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

header .navbar-right{
    display: flex ;
    align-items: center;
    gap: 3.2rem;
}

header .navbar-right .lupa{
    width: 3.3rem;
    height: 3.3rem;
    background-image: url('../assets/icons/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6.5rem;
}

header .navbar-right .sign-in{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #9B9A78;
}

header .navbar-right .sign-up{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #FFF;
    background-color: #9B9A78;
    padding: 1.4rem 2.5rem;
    text-decoration: none;
}
main{
    width: 100%;
}
main .introduction{
    background-image: url('../assets/imgs/placeholder.svg');
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

main .introduction .container-transparent{
    margin-top: 7rem;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
    width: 77rem;
    position: relative;
    background: rgba(255, 255, 255, 0.70);
    margin-bottom: 4rem;
}

main .introduction .container-transparent h1{
    font-family: 'Playfair Display', serif;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 7.2rem;
    font-style: normal;
    color: #313131;
    width: 65%;
    margin-bottom: 4.3rem;
}

main .introduction .container-transparent p{
    font-family: 'Poppins', sans-serif;
    color: #909090;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4rem;
}

.container-transparent .icon-line{
    background-image: url('../assets/icons/rectangle.svg');
    width: 7.2rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 6.5rem;
    right: 14rem;
}

.benefits-container{
    width: 45rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2rem;
}

.benefits-container .benefits span{
    display: block;
    background-image: url('../assets/icons/check.svg');
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.benefits-container .benefits{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.benefits-container .benefits p{
    font-size: 1.8rem;
    color: #313131;
    font-family: 'Poppins', sans-serif;
}

.services{
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.services article{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 0.8rem;
    width: 50rem;
    padding: 3.2rem;
}

.services article:first-child span{
    width: 8rem;
    height: 8rem;
    background-image: url('../assets/icons/location.svg');
    background-size: contain;
}

.services article:nth-child(2) span{
    width: 8rem;
    height: 8rem;
    background-image: url('../assets/icons/room.svg');
    background-size: contain;
}

.services article:last-child span{
    width: 8rem;
    height: 8rem;
    background-image: url('../assets/icons/wifi.svg');
    background-size: contain;
}
.services article p:first-of-type{
    color: #313131;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
}
.services article p:nth-of-type(2){
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
    color: #909090;
}



